{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row gy-5 ">
        <div class="col-md-12 text-center offset-md-5">
            {{cal|safe}}
        </div>
        {% include 'includes/messages.html' %}
        <div id="booking-list" class="col-md-6 col-sm-6">
            <h2>Uppcoming bookings for {{month}}:</h2>
            <hr>
            <a class="btn btn-outline-secondary" href="?prev=true&month={{ month }}&year={{ year }}">Previous Month</a>
            <a class="btn btn-outline-secondary" href="?next=true&month={{ month }}&year={{ year }}">Next Month</a>
            {% if booking_list %}
            <table class="table table-hover table-border mb-0">
                <thead>
                  <tr>
                    <th scope="col">Who has booked</th>
                    <th scope="col">When</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                {% for booking in booking_list %}
                <tr>
                    <td>{{booking}}</td>
                    <td>{{booking.checkin|date:"d F Y"}} untill {{booking.checkout|date:"d F Y"}}</td>
                    <td>
                        {% if booking.checkout.date <= now.date %}
                        <a href="{% url 'bookings-checkout' booking.id %}" class="btn btn-outline-danger btn-sm">Checkout</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                    <h2>Sorry no booking this month.</h2>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2>List of houses:</h2>
            <hr>
            <p><small class="text-muted">Check the boxes of the houses you wish to display</small></p>
            <form action="" method=POST>
                {% csrf_token %}
            
            <table class="table table-hover table-border">
                <thead>
                  <tr>
                    <th scope="col">House Name</th>
                    <th scope="col">Approved</th>
                  </tr>
                </thead>
                <tbody>
                    {% for house in house_list %}
                    <tr>
                      <td>{{house}}</td>
                      <td>
                        {% if house.approved %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked="checked" value="{{house.id}}" name="boxes">
                        </div>
                        {% else %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="{{house.id}}" name="boxes">
                        </div>
                        {% endif %}
                      </td>
                      <td><a href="{{ house.get_absolute_url }}">{{ house }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="btn btn-outline-secondary" type="submit">Update</button>
        </div>
    </div>
</div>
{% endblock %}