<!-- Footer -->
    <footer class="footer dark-bg fixed-bottom">
        <p class="m-0 text-center text-white">Made by CBergane Follow me:</p>
            <div class="icons">
                <a href="https://www.facebook.com/christian.bergane" target="_blank">
                    <div class="layer">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-facebook"></span>
                    </div>
                    <div class="text">Facebook</div>
                </a>
                <a href="https://www.linkedin.com/in/christian-bergane-531184231/" target="_blank">
                    <div class="layer">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-linkedin"></span>
                    </div>
                    <div class="text">LinkedIn</div>
                </a>
                <a href="https://www.instagram.com/bergane/" target="_blank">
                    <div class="layer">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-instagram"></span>
                    </div>
                    <div class="text">Instagram</div>
                </a>
                <a href="https://github.com/CBergane" target="_blank">
                    <div class="layer">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="fab fa-github"></span>
                    </div>
                    <div class="text">Github</div>
                </a>
            </div>
            <!-- <div class="isocial">
                <a href="https://www.facebook.com/christian.bergane" class="social text-decoration-none" target="_blank">
                <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/christian-bergane-531184231/" class="social text-decoration-none" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/bergane/" class="social text-decoration-none" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/CBergane" class="social text-decoration-none" target="_blank"><i class="fab fa-github"></i></a>
            </div> -->
    </footer>
