{% extends "base.html" %}

{% block content %}

    <div class="container" id="add_house">
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-1">

                <h1>Add a house {{user}}</h1>

                    {% include 'includes/messages.html' %}
                    <div class="card">
                        <div class="card-body" style="max-width: 50rem;">

                                <form action="" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}

                                    {{ form.as_p}}
                                    <label id="range-value" for="beds"></label>
                                    <input type="submit" id="book" value="Add House" class="btn btn-outline-success">
                                    <span class="btn btn-back btn-outline-secondary">Go Back</span>
                                    <span id="display"></span>
                                </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>


{% endblock %}