{% extends "base.html" %}

{% block content %}

<div class="container" id="delete_booking">
<h1 class="text-center">Hello {{user}}</h1>

{% include 'includes/messages.html' %}  
<div class="container">
  <div class="row">
      <div class="col-md-6">
          <h2>Bookings</h2>
          <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light">
                  <tr>
                      <th>House</th>
                      <th>Check-in</th>
                      <th>Check-out</th>
                      <th>Total</th>
                      <th>Actions</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for booking in bookings %}
                  <tr>
                      <td>{{ booking.house.name }}</td>
                      <td>{{ booking.checkin|date:"F d Y" }}</td>
                      <td>{{ booking.checkout|date:"F d Y" }}</td>
                      <td>{{ booking.price }} &#8364;</td>
                      <td>
                        <a href="{% url 'bookings-update' booking.id %}" class="btn btn-outline-success btn-sm">Update</a>
                      </td>
                      <td>
                        <a class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <div class="col-md-6">
          <h2>Houses Owned</h2>
          <table class="table align-middle mb-0 bg-white">
              <thead class="bg-light">
                  <tr>
                      <th scope="row">House</th>
                      <th scope="row">Location</th>
                      <th scope="row">Price per night</th>
                  </tr>
              </thead>
              <tbody>
                  {% for house in houses %}
                  <tr>
                      <td>{{ house.name }}</td>
                      <td>{{ house.adress }}</td>
                      <td>{{ house.price }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
          <a class="btn btn-outline-success btn-sm float-md-end" href="{% url 'add-house' %}">Add a house</a>
      </div>
  </div>
</div>

{% endblock %}