{% extends "base.html" %}

{% block content %}
<div class="container" id="list_house">
    <div class="row">
        {% for houses in house_list %}
        {% if houses.approved %}
        <div class="col-lg-4 mb-3 d-flex">
            <div class="card shadow fade-in" style="width: 25rem;">
                <img src="{{ houses.house_image.url }}" class="card-img-top img-fluid" alt="Card Image">
                    <div class="card-body d-flex flex-column">
                    
                    <h5 class="card-title">{{houses}} </h5>
                    <p class="card-text mb-4">{{houses.description}}</p>
                    
                    </div>
                {% if user.is_authenticated %}
                <a href="{% url 'add-booking' houses.id %}" class="btn btn-outline-success">Book This House</a>
                {% endif %}
                {% if user.is_staff %}
                <a href="{% url 'house-update' houses.id %}" class="btn btn-outline-secondary">Update house</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
   
{% endblock %}