{% extends "base.html" %}

{% block content %}
<div class="container" id="filter_house">
    <center>
        <h1>Main page</h1>
        {% include 'includes/messages.html' %}
    </center>
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col align-self-end">
            <form method="GET">
                {{ form.as_p }}
                <input type="submit" value="Search" class="btn btn-outline-success btn-sm">
            </form>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Book</th>
                    </tr>
                </thead>
                <tbody>
                    {% for house in houses %}
                    {% if not form.cleaned_data.has_wifi or house.has_wifi %}
                    {% if not form.cleaned_data.has_tv or house.has_tv %}
                    {% if not form.cleaned_data.has_bbq or house.has_bbq %}
                    {% if not form.cleaned_data.has_shower or house.has_shower %}
                    {% if not form.cleaned_data.has_bath or house.has_bath %}
                    <tr>
                        <td colspan="1">{{ house.name }}</td>
                        <td colspan="1">
                            <a href="{% url 'add-booking' house.id %}" class="btn btn-outline-success">Book</a>
                        </td>
                    </tr>
                    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}