{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if searched %}
    
        <h1>Search results for {{searched}}:</h1>
        <br/>
        
        {% for houses in house %}
        
        <div class="row align-items-center">
            <div class="col-md-6 ">
                <ul class="list-group">
                    <li class="list-group-item">
                            <h3>Search results for {{houses}}:</h3>
                            <p>Number of beds {{houses.beds}}</p>
                            <p>Can hold {{houses.capacity}} guests</p>
                            <p>The adress: {{houses.adress}}</p>
                            <a href="{% url 'add-booking' houses.id %}" class="btn btn-outline-success">Book This House</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>You forgot to add a house to search for...</h1>
    
    {% endif %}
</div>
{% endblock %}